@model IEnumerable<MijnFilms.Entities.Movie>

@{
    ViewData["Title"] = "List";
}

<h2>Filmlijst</h2>



@section Search {
    <form asp-action="Find">
        <div class="form-group">
            <input id="keyword" name="keyword" class="form-control" placeholder="Plaats hier je zoekterm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Zoek" class="btn btn-default" />
        </div>
    </form>
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>

            <th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @for (var stars = 1; stars <= item.Stars; stars++)
                    {
                        <span class="glyphicon glyphicon-star"></span>

                    }
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.MovieId" class="glyphicon glyphicon-film"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Counter{
    <b>@Model.Count()</b> @(Model.Count() == 1 ? "film" : "films") gevonden
}